# Seminar 2: Exploratory Data Analysis in Python

Pandas environment

* We will use the Ames Housing dataset of real estate sales
* The content is based on the Kaggle Competition House Prices Advanced Regression Techniques. See details [here](https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques).

### Goals for today:
* Read files (csv)
* Display needed parts of df
* Aggregate df
* Filter df

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import random
%matplotlib inline

In [3]:
# If needed, you can install the packages in a following manner

# !pip3 install numpy pandas seaborn

## Task 1: Read data and understand it's structure

### 1a. Load training dataset 

- data in `files/house-prices-kaggle.zip`
- load train.csv
- and display 5 random rows

Hint: Use `.style` attribute to display all columns

Hint: See  `data_description.txt` for documentation of variables

In [1]:
import zipfile

In [11]:
path = os.path.abspath(os.path.join(os.getcwd(), '..'))
path = os.path.join(path, 'files', 'house-prices-kaggle.zip')
print(path)

/Users/joskur/Documents/IES/Teaching/Python/Python_JK/files/house-prices-kaggle.zip

In [8]:
# Load the data
with zipfile.ZipFile(path) as z:
    print(z.namelist())

['train.csv', 'test.csv', 'sample_submission.csv', 'data_description.txt']

In [9]:
with zipfile.ZipFile(path) as z:
    with z.open('train.csv') as f:
        df = pd.read_csv(f)

In [10]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
df.iloc[random.sample(range(df.shape[0]), 5)].style

In [ ]:
pd.read_csv('house-prices-advanced-regression-techniques/train.csv')

In [ ]:
# To get the informaiton about the dataset, use the method .shape
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.head().style

In [ ]:
with zipfile.ZipFile(path) as z:
    with z.open('data_description.txt') as f:
        desc_data = f.read().decode('utf-8')
        print(desc_data)

### 1b. What is the distribution `SalePrice` variable?

* plot histogram (`.hist()` on `pd.Series`) with bin width $10,000

Hint: Specify bins using range

In [ ]:
df['SalePrice'].hist(bins=range(0, df['SalePrice'].max(),10000))

In [ ]:
df.SalePrice.hist(bins=10)

In [ ]:
df.SalePrice.hist(bins=range(0, df.SalePrice.max(), 10000))

### 1c. Split columns between quantitative and qualitative variables
Store column names in separate lists of strings `quantitative` and `qualitative`

Hint: `.dtypes` attribute contains a series with strings describing dtype of the data

In [ ]:
df.columns

In [ ]:
quantitative_columns = [column for column in df.columns if df.dtypes[column] != 'object']
qualitative_columns = [column for column in df.columns if df.dtypes[column] == 'object']
qualitative_columns

In [ ]:
df[qualitative_columns]

In [ ]:
quantitative = [column for column in df.columns if df.dtypes[column] != 'object']
qualitative = [column for column in df.columns if df.dtypes[column] == 'object']

print(f'Quantitative variables: {quantitative} \n')
print(f'Qualitative variables: {qualitative}')

### 1c* display df with only quantitative columns

In [ ]:
df[quantitative]

### 1d. Are `dtype`s correct? 

* visually check whether all the columns look correctly parsed

In [ ]:
df['LandContour'].value_counts()

In [ ]:
df[qualitative_columns].sample(5)

In [ ]:
df[quantitative][:10].style

In [ ]:
df.shape

### 1e. Plot number of missing data for all columns

In [ ]:
df.isna().sum().sort_values(ascending=False).plot.bar(figsize=(15, 5)))

In [ ]:
df.isna().sum().sort_values(ascending=False).plot.bar(figsize=(15, 5))

### For the better visiability drop columns with no missing data

In [ ]:
df.columns[df.isna().any()].to_list()

In [ ]:
col_names_with_missing_values = df.columns[df.isna().any()].tolist()
col_names_with_missing_values

In [ ]:
df[col_names_with_missing_values].isna().sum().sort_values(ascending=False).plot.bar(figsize=(6, 3))

## Task 2: Aggregation

### 2.1 Calculate the average LotArea for each year (YrSold)

In [12]:
df.groupby('YrSold')

In [13]:
df.groupby('YrSold')[['LotArea', 'SalePrice']].mean()

             LotArea      SalePrice
YrSold
2006    10489.458599  182549.458599
2007    10863.686930  186063.151976
2008    10587.687500  177360.838816
2009    10294.248521  179432.103550
2010    10220.645714  177393.674286

In [ ]:
df.groupby('YrSold')[['LotArea']].mean()

In [ ]:
df[['YrSold', 'LotArea']].groupby('YrSold').agg(["mean", "min", "max"]).reset_index()

In [ ]:
df.groupby('YrSold').agg({"LotArea": ["mean", "min", "max"]})

### 2.2 Calculate the average SalePrice for each street (Street)

In [ ]:
df['Street'].value_counts()

In [ ]:
df.groupby('Street')[['SalePrice']].mean()

In [ ]:
df.groupby('Street').agg({"SalePrice": ["mean"]}).reset_index()

### 2.2 Calculate the average SalePrice for Grvl street (Street)

In [ ]:
df[df['Street']=='Grvl'].groupby('Street').agg({'SalePrice': ['mean']})

In [ ]:
df[df['Street']=='Grvl']['SalePrice'].mean()

### 2.3 Calculate the average SalePrice for Grvl street (Street) But! Take into account only flats which cost more than 100000

In [ ]:
df[(df['Street']=='Grvl')
   & (df['SalePrice'] < 100000)]['SalePrice'].mean()

In [ ]:
df_filtered = df[df['SalePrice'] < 100000]
df_filtered.groupby('Street').agg({"SalePrice": ["mean"]}).reset_index()

## Task 3 Filtering

### 3.1 How many flats cost less than 200000 and have a 'Normal' condition (column SaleCondition)

In [ ]:
variable = 4
print(f'ABSSADASD {variable}')

In [ ]:
df[(df["SalePrice"] < 200000) & (df["SaleCondition"]=="Normal")].shape[0]

In [ ]:
print(f'The number of flats satisfying the condition is {df[(df["SalePrice"] < 200000) & (df["SaleCondition"]=="Normal")].shape[0]}')

In [ ]:
len(df[(df['SalePrice'] < 200000) & (df['SaleCondition'] == 'Normal')])

### 3.2 How many flats cost less than 200000 or have a 'Normal' condition (column SaleCondition)

In [ ]:
df[(df['SalePrice'] < 200000) | (df['SaleCondition'] == 'Normal')].shape[0]

### 3.3 How many flats cost have more areas on the second floor(2ndFlrSF) then on the first one(1stFlrSF)?

In [ ]:
df[df['1stFlrSF'] < df['2ndFlrSF']].shape[0]

### What is the average cost (in thousands) for such type of the flats?

In [14]:
xk = round(df[df['1stFlrSF'] < df['2ndFlrSF']]['SalePrice'].mean()/10**3, 2)
print(f"Average sale price for houses with 1stFlrSF < 2ndFlrSF: {xk}k")

Average sale price for houses with 1stFlrSF < 2ndFlrSF: 200.49k

# BONUSES

## Task 1: Study relationships between variables

### 1a. see correlation matrix

In [ ]:
fig = plt.subplots(1, 1, figsize=(15, 12))
# correlation matrix
df_corr = df[quantitative].corr()
sns.heatmap(df_corr, vmin=-1, cmap="coolwarm", annot=True, fmt="0.1f") 
# annot=True to print values inside the square
# fmt="0.1f" to print one decimal place
# vmin=-1 to set the minimum value of the color scale to -1

### 2b. Boxplots for numerical variables

In [ ]:
df[qualitative].head().columns

In [ ]:
# pick one categorical column and one quantitative column
sns.boxplot(data=df, x="MSZoning", y="SalePrice", hue='MSZoning') #